@import "burger.css";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::selection{
    background-color: #1daa5c;
  }
}

// Colours

$font: #000000;
$link: #1daa5c;
$dark: #404040;
$grey: #a3a3a3;
$purple: #ae87df;
$green: #166f48;

:root{
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;

  body{
    background-color: #f0fadd;
  }
  a{
    text-decoration: none;
  }
  ul{
    list-style: none;
  }
}

.container{
  max-width: 1200px;
  margin: auto;
}

.d-flex{
  display: flex;
}




//body

header{
  padding: 1.5rem;
  position: sticky;
  top: 0;
  z-index: 2;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px); // Safari support

  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo{
      max-width: 150px;

      img{
        width: 100%;
        display: block;
      }
    }

    .flex-reverse{
      display: flex;
      flex-direction: row-reverse;
      align-items: center;

      .contact-link{
        a{
          color: $dark;
          font-size: 20px;
          font-weight: 400;
          letter-spacing: 1px;
          transition: 0.15s;
          margin: 0 3.5rem;
          position: relative;
          top: 2px;

          &:hover{
            color: $link;
          }
        }
      }
    }

    ul{
      display: flex;
      gap: 4rem;

      li{
        a{
          color: $font;
          font-size: 22px;
          font-weight: 500;
          letter-spacing: 2px;
          transition: 0.15s;

          &:hover{
            color: $link;
          }
        }
      }
    }
  }
}

main{
  #main-banner{
    padding: 7rem 0;

    .container{
      max-width: 1000px;

      article{
        border-radius: 20px;
        padding: 2rem;
        margin: auto;
        position: relative;
        background-color: $green;

        .main-banner_image{
          max-width: 180px;
          position: absolute;
          bottom: -4.5px;
          right: -10px;
        }

        .main-info{
          h1{
            color: $purple;
            font-weight: 600;
            font-size: 36px;
            margin-bottom: 24px;
          }

          p{
            color: #fff;
            font-size: 18px;
            font-weight: 400;
            letter-spacing: 2px;
            line-height: 26px;
            max-width: 760px;
            margin-left: 12px;
          }
        }
      }

      .devis{
        max-width: 860px;
        margin: 36px auto;

        .citation{
          color: $font;
          text-align: right;
          font-size: 26px;
          margin-bottom: 12px;
        }

        p{
          color: $purple;
          font-size: 22px;
          letter-spacing: 2px;
        }
      }
    }
  }
}

footer{
  border-top: 1px solid #bcbcbc;
  padding: 4rem 0 1rem;
  background-color: $green;

  .container{
    text-align: center;
    color: #fff;

    .main_foot-menu{
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3{
        color: $purple;
        font-size: 36px;
        margin-bottom: 40px;
        text-align: left;
      }

      a{
        max-width: 60px;

        img{
          width: 100%;
          display: block;
        }
      }
    }

    p{
      font-size: 16px;
    }

    .contact-info{
      font-size: 20px;
      color: $grey;
      margin: 24px 0 8px;
    }

    .tel{
      color: #fff;
      font-size: 16px;
    }

    .copyright{
      color: $grey;
      text-align: center;
      font-size: 14px;
      margin-top: 32px;
     }
  }
}


// MEDIA

@media screen and (max-width: 1224px){
  .container{
    padding: 0 12px;
  }
}

@media screen and (max-width: 1180px){
  header .container ul{
    gap: 2rem;
  }

  header .container .flex-reverse .contact-link a {
    letter-spacing: 0;
    margin: 0 2rem;
  }

  header .container ul li a {
    font-size: 21px;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 992px) {
  main #main-banner .container {
    margin: 0 20px;
  }

  main #main-banner .container article .main-info p {
    letter-spacing: 1px;
    line-height: 24px;
    max-width: 548px;
  }
}

@media screen and (max-width: 767px) {
  main #main-banner .container article .main-info p {
    max-width: 100%;
  }

  main #main-banner .container article .main-info {
    padding-bottom: 140px;
  }

  main #main-banner .container article {
    padding: 2rem 1rem;
  }

  header .container .flex-reverse .contact-link a {
    top: 0;
  }
}